<div class="container">
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
  <button (click)="mudarValor()">Mudar Valor</button>
  <button (click)="destruirCiclo()">Deletar</button> -->
  <!-- <app-ng-if></app-ng-if> -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-ng-class></app-ng-class> -->
  <!-- <app-ng-style></app-ng-style> -->
  <!-- <app-operador-elvis></app-operador-elvis> -->
  <!-- <app-ng-content>
    Conteúdo passao para o component
    <app-operador-elvis></app-operador-elvis>
  </app-ng-content> -->
  <!-- <app-ng-content>
    <div class="titulo">
      Titulo do Panel
    </div>
    <div class="corpo">
      Conteúdo passao para o component
      <app-operador-elvis></app-operador-elvis>
    </div>
    <div class="corpo">
      Conteúdo passao para o component 2
    </div>
  </app-ng-content> -->
  <!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->
  <!-- <app-cursos></app-cursos> -->
  <app-exemplos-pipes></app-exemplos-pipes>
</div>